%h2 #{params[:service_name]}/#{params[:section_name]}/#{@type}
%ul
  - @graphs.each do |graph|
    %li #{link_to(graph.graph_name, "/graphs/#{graph.service_name}/#{graph.section_name}/#{graph.type}/#{graph.graph_name}")}
