%ul.breadcrumb
  %li
    - if @service_name
      #{link_to('Home', '/')}
      %span.divider /
    - else
      Home
  - if @section_name
    %li
      #{link_to(@service_name, "/stats/#{@service_name}")}
      %span.divider /
  - else
    %li
      #{@service_name}
  - if @graph_name
    %li
      #{link_to(@section_name, "/stats/#{@service_name}/#{@section_name}")}
      %span.divider /
    %li
      #{@graph_name}
  - else
    %li
      #{@section_name}
