!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Marrig"
    %meta{:content => content_for?(:description) ? yield(:description) : "Marrig", :name => "Metrics visualizer on the web"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = javascript_include_tag "raphael.min"
    = javascript_include_tag "morris.min"
    = javascript_include_tag :application
  %body
    #container.container
      %header
        %h1#appname Marrig
      #main{:role => "main"}
        = yield
      %footer
